apiVersion: v1
kind: ConfigMap
metadata:
  name: litellm-config
  namespace: toolbox
data:
  config.yaml: |
    litellm_settings:
      drop_params: true
      set_verbose: true

    router:
      health_check: true